@font-face {
  font-family: "iconfont"; /* Project id 4531500 */
  src: url('iconfont.woff2?t=1714724643533') format('woff2'),
       url('iconfont.woff?t=1714724643533') format('woff'),
       url('iconfont.ttf?t=1714724643533') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuji:before {
  content: "\e65b";
}

.icon-lianjie:before {
  content: "\e63f";
}

.icon-sheyingji:before {
  content: "\e61f";
}

.icon-shouye:before {
  content: "\e610";
}

.icon-zhaopian:before {
  content: "\e618";
}

.icon-ruererji:before {
  content: "\e715";
}

.icon-xiaolian:before {
  content: "\e60c";
}

.icon-tubiao_biaoqian:before {
  content: "\e62a";
}

.icon-grouping:before {
  content: "\e62b";
}

.icon-geren:before {
  content: "\e614";
}

.icon-shijianzhou:before {
  content: "\e64f";
}

